<?php echo $header; ?>
<?php echo $column_left; ?>
<?php echo $column_right; ?>
<main id="content">
    <?php echo $content_top; ?>
</main>

<main id="process">
    <?php echo $content_bottom; ?>
</main>
<?php echo $footer; ?>