<?php echo $header; ?>


<main id="content">
			<section class="main-title">
				<div class="container">
					<header>
				<h1><?php echo $heading_title; ?></h1>
			</header>
			<div class="breadcrumb">
				<ul>
					<?php foreach ($breadcrumbs as $i=> $breadcrumb) { ?>
					<li><?php if($i+1<count($breadcrumbs)) { ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a> <?php } else { ?><span><?php echo $breadcrumb['text']; ?></span><?php } ?></li>
					<?php } ?>
				</ul>
			</div>
				</div>
			</section>
		</main>
		<main id="blog">
			<section class="category">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 item">
							<div>
								<div class="image">
									<img src="images/blog/1.jpg" alt="Заказ еды с доставкой в офис по Санкт-Петербургу" />
									<div class="view">1259</div>
								</div>
								<div class="text">
									<h3><a href="#">Заказ еды с доставкой в офис по Санкт-Петербургу</a></h3>
									<p>Доставка завтраков, обедов и ужинов в офис в Санкт-Петербурге. Вкусные бизнес-ланчи, большой выбор блюд на любой вкус. Важность организации правильного питания для сотрудников на рабочем месте.</p>
									<div class="button"><a href="blog-single.html" class="btn border">Читать полностью</a></div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 item">
							<div>
								<div class="image">
									<img src="images/blog/2.jpg" alt="Заказ еды с доставкой в офис по Санкт-Петербургу" />
									<div class="view">1259</div>
								</div>
								<div class="text">
									<h3><a href="#">Питание для рабочих: новые тенденции, варианты, виды меню</a></h3>
									<p>Организовать завтрак, обед и ужин на производстве – не проблема! Если подойти к вопросу серьезно, то сделать это можно без отрыва от работы</p>
									<div class="button"><a href="blog-single.html" class="btn border">Читать полностью</a></div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 item">
							<div>
								<div class="image">
									<img src="images/blog/3.jpg" alt="Заказ еды с доставкой в офис по Санкт-Петербургу" />
									<div class="view">1259</div>
								</div>
								<div class="text">
									<h3><a href="#">Заказ еды с доставкой в офис по Санкт-Петербургу</a></h3>
									<p>Доставка завтраков, обедов и ужинов в офис в Санкт-Петербурге. Вкусные бизнес-ланчи, большой выбор блюд на любой вкус. Важность организации правильного питания для сотрудников на рабочем месте.</p>
									<div class="button"><a href="blog-single.html" class="btn border">Читать полностью</a></div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 item">
							<div>
								<div class="image">
									<img src="images/blog/1.jpg" alt="Заказ еды с доставкой в офис по Санкт-Петербургу" />
									<div class="view">1259</div>
								</div>
								<div class="text">
									<h3><a href="#">Заказ еды с доставкой: кому это выгодно и насколько удобно?</a></h3>
									<p>Сегодня заказать еду в офис можно, не вставая с дивана. Всего пару щелчков мышкой – и любимая курица под соусом уже «исполняет соло» на вашем рабочем столе!</p>
									<div class="button"><a href="blog-single.html" class="btn border">Читать полностью</a></div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 item">
							<div>
								<div class="image">
									<img src="images/blog/1.jpg" alt="Заказ еды с доставкой в офис по Санкт-Петербургу" />
									<div class="view">1259</div>
								</div>
								<div class="text">
									<h3><a href="#">Заказ еды с доставкой в офис по Санкт-Петербургу</a></h3>
									<p>Доставка завтраков, обедов и ужинов в офис в Санкт-Петербурге. Вкусные бизнес-ланчи, большой выбор блюд на любой вкус. Важность организации правильного питания для сотрудников на рабочем месте.</p>
									<div class="button"><a href="blog-single.html" class="btn border">Читать полностью</a></div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 item">
							<div>
								<div class="image">
									<img src="images/blog/2.jpg" alt="Заказ еды с доставкой в офис по Санкт-Петербургу" />
									<div class="view">1259</div>
								</div>
								<div class="text">
									<h3><a href="#">Питание для рабочих: новые тенденции, варианты, виды меню</a></h3>
									<p>Организовать завтрак, обед и ужин на производстве – не проблема! Если подойти к вопросу серьезно, то сделать это можно без отрыва от работы</p>
									<div class="button"><a href="blog-single.html" class="btn border">Читать полностью</a></div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 item">
							<div>
								<div class="image">
									<img src="images/blog/3.jpg" alt="Заказ еды с доставкой в офис по Санкт-Петербургу" />
									<div class="view">1259</div>
								</div>
								<div class="text">
									<h3><a href="#">Заказ еды с доставкой в офис по Санкт-Петербургу</a></h3>
									<p>Доставка завтраков, обедов и ужинов в офис в Санкт-Петербурге. Вкусные бизнес-ланчи, большой выбор блюд на любой вкус. Важность организации правильного питания для сотрудников на рабочем месте.</p>
									<div class="button"><a href="blog-single.html" class="btn border">Читать полностью</a></div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 item">
							<div>
								<div class="image">
									<img src="images/blog/1.jpg" alt="Заказ еды с доставкой в офис по Санкт-Петербургу" />
									<div class="view">1259</div>
								</div>
								<div class="text">
									<h3><a href="#">Заказ еды с доставкой: кому это выгодно и насколько удобно?</a></h3>
									<p>Сегодня заказать еду в офис можно, не вставая с дивана. Всего пару щелчков мышкой – и любимая курица под соусом уже «исполняет соло» на вашем рабочем столе!</p>
									<div class="button"><a href="blog-single.html" class="btn border">Читать полностью</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="more text-center"><button type="button" class="btn green">Загрузить еще</button></div>
				</div>
			</section>
		</main>


<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?> showcase-list"><?php echo $content_top; ?>
      <h1><?php echo $heading_title; ?></h1>
	   <?php if ($thumb || $description) { ?>
      <div class="row">
        <?php if ($thumb) { ?>
        <div class="col-sm-2"><img src="<?php echo $thumb; ?>" alt="<?php echo $heading_title; ?>" title="<?php echo $heading_title; ?>" class="img-thumbnail" /></div>
        <?php } ?>
        <?php if ($description) { ?>
        <div class="col-sm-10"><?php echo $description; ?></div>
		<?php } ?>
      </div>
      <hr>
	  <?php } ?>
      <?php if ($articles) { ?>
      <div class="row">
        <div class="col-sm-3">
          <div class="btn-group">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="<?php echo $button_list; ?>"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="<?php echo $button_grid; ?>"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-sm-1 col-sm-offset-2 text-right">
          <label class="control-label" for="input-sort"><?php echo $text_sort; ?></label>
        </div>
        <div class="col-sm-3 text-right">
          <select id="input-sort" class="form-control col-sm-3" onchange="location = this.value;">
            <?php foreach ($sorts as $sorts) { ?>
            <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
            <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
            <?php } else { ?>
            <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
            <?php } ?>
            <?php } ?>
          </select>
        </div>
        <div class="col-sm-1 text-right">
          <label class="control-label" for="input-limit"><?php echo $text_limit; ?></label>
        </div>
        <div class="col-sm-2 text-right">
          <select id="input-limit" class="form-control" onchange="location = this.value;">
            <?php foreach ($limits as $limits) { ?>
            <?php if ($limits['value'] == $limit) { ?>
            <option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
            <?php } else { ?>
            <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
            <?php } ?>
            <?php } ?>
          </select>
        </div>
      </div>
      <br />
      <div class="row">
        <?php foreach ($articles as $article) { ?>
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb">
            <div class="image"><a href="<?php echo $article['href']; ?>"><img src="<?php echo $article['thumb']; ?>" alt="<?php echo $article['name']; ?>" title="<?php echo $article['name']; ?>" class="img-responsive" /></a></div>
            <div class="caption">
              <h4><a href="<?php echo $article['href']; ?>"><?php echo $article['name']; ?></a></h4>
              <p class="description"><?php echo $article['description']; ?></p>
              <?php if ($configblog_review_status) { ?>
              <div class="rating">
                <?php for ($i = 1; $i <= 5; $i++) { ?>
                <?php if ($article['rating'] < $i) { ?>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                <?php } else { ?>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                <?php } ?>
                <?php } ?>
              </div>
			  <?php } ?>
            </div>
            <div class="button-group">
				<button type="button" onclick="location.href = ('<?php echo $article['href']; ?>');"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $button_more; ?></span></button>
				<button type="button" data-toggle="tooltip" title="<?php echo $article["date_added"];?>" "><i class="fa fa-clock-o"></i></button>
				<button type="button" data-toggle="tooltip" title="<?php echo $text_views; ?> <?php echo $article["viewed"];?>" "><i class="fa fa-eye"></i></button>
			</div>
          </div>
        </div>
        <?php } ?>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
        <!-- <div class="col-sm-6 text-right"><?php //echo $results; ?></div> -->
      </div>
      <?php } else { ?>
      <p><?php echo $text_empty; ?></p>
      <div class="buttons">
        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
      </div>
      <?php } ?>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>