<div class="row module">
    <?php if ($column_left && $column_right) { ?>
    <div class="col-sm-6 col-xs-12">
    <?php } elseif ($column_left || $column_right) { ?>
    <div class="col-sm-6 col-xs-12">
    <?php } else { ?>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <?php } ?>
<div class="product-thumb transition custom_banner">
<a <?php if ($target_block_1) { ?>target="_blank"<?php } ?> href="<?php echo $link_block_1; ?>"><?php echo $ico_block_1; ?> <?php echo $text_block_1; ?></a>
</div>
</div>
 <?php if ($column_left && $column_right) { ?>
    <div class="col-sm-6 col-xs-12">
    <?php } elseif ($column_left || $column_right) { ?>
    <div class="col-sm-6 col-xs-12">
    <?php } else { ?>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <?php } ?>
<div class="product-thumb transition custom_banner">
<a <?php if ($target_block_2) { ?>target="_blank"<?php } ?> href="<?php echo $link_block_2; ?>"><?php echo $ico_block_2; ?> <?php echo $text_block_2; ?></a>
</div>
</div>
 <?php if ($column_left && $column_right) { ?>
    <div class="col-sm-6 col-xs-12">
    <?php } elseif ($column_left || $column_right) { ?>
    <div class="col-sm-6 col-xs-12">
    <?php } else { ?>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <?php } ?>
<div class="product-thumb transition custom_banner">
<a <?php if ($target_block_3) { ?>target="_blank"<?php } ?> href="<?php echo $link_block_3; ?>"><?php echo $ico_block_3; ?> <?php echo $text_block_3; ?></a>
</div>
</div>
 <?php if ($column_left && $column_right) { ?>
    <div class="col-sm-6 col-xs-12">
    <?php } elseif ($column_left || $column_right) { ?>
    <div class="col-sm-6 col-xs-12">
    <?php } else { ?>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <?php } ?>
<div class="product-thumb transition custom_banner">
<a <?php if ($target_block_4) { ?>target="_blank"<?php } ?> href="<?php echo $link_block_4; ?>"><?php echo $ico_block_4; ?> <?php echo $text_block_4; ?></a>
</div>
</div>
</div>