


<div class="input">
    <h3 class="input-group-title">Captcha</h3>
    <?php if (substr($route, 0, 9) == 'checkout/') { ?>
    <label class="control-label" for="input-payment-captcha"><?php echo $entry_captcha; ?></label>
    <input type="text" name="captcha" id="input-payment-captcha" class="form-control" autocomplete="off" />
    <div class="captcha" style="background-image: url(index.php?route=extension/captcha/basic_captcha/captcha);"></div>
    <?php } else { ?>


											<div class="input">
												<label>Введите текст с картинки <span>*</span></label>
												<input type="text" name="captcha" id="input-captcha" />
											</div>
    <div class="captcha" style="background-image: url(index.php?route=extension/captcha/basic_captcha/captcha);"></div>



      <?php if ($error_captcha) { ?>
      <div class="text-danger"><?php echo $error_captcha; ?></div>
      <?php } ?>
    </div>
    <?php } ?>
</div>